.box a{
    color: black;
    text-align: center;
    justify-content: center;
    display: flex;
    font-family: 'Itim', cursive;
    background-color: red;
    font-weight: 400;
    font-size: 30px;
    text-decoration: none;
}
.img{
    width: 1000px;
}